<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1">
    <title>Login</title>
    
    <!-- Include Font Awesome library to add icons to form -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    
    <!-- Include custom stylesheet -->
    <link rel="stylesheet" href="/public/stylesheets/login.css">
  </head>
  <body>
    
    <!-- Define main content section -->
    <main>
      <div class="login">
        <h1>Login</h1>
        <form action="/auth" method="post">
          <label for="username">
            <!-- Font Awesome icon for username -->
            <i class="fas fa-user"></i>
          </label>
          <input type="text" name="username" id="username" placeholder="Username" required>
          <label for="password">
            <!-- Font Awesome icon for password -->
            <i class="fas fa-lock"></i>
          </label>
          <input type="password" name="password" id="password" placeholder="Password" required>
          <input type="submit" value="Login">
        </form>
      </div>
    </main>

  </body>
</html>