<!DOCTYPE html>
<html>
  <head>
    <title>Books List</title>
    <link rel="stylesheet" type="text/css" href="/public/css/books.css">
    <source src="/public/js/books.js"></source>
  </head>
  <body>
    <h1>Books List</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Number of Pages</th>
          <th>Year of Release</th>
        </tr>
      </thead>
      <tbody>
        {{#each books}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.author}}</td>
          <td>{{this.numPages}}</td>
          <td>{{this.yearRelease}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>